<!DOCTYPE html>
<html>
    <head>
        <link href="resources/javascripts/bootstrap/css/bootstrap.css" rel="stylesheet">
        <meta name="viewport" charset="UTF-8" content="width = device-width, initial-scale = 1.0">
        <script type="text/javascript" src="resources/javascripts/jquery/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="resources/javascripts/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="resources/javascripts/angular/angular.min.js"></script>  
        <script type="text/javascript" src="resources/javascripts/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="resources/javascripts/phones/phones.js"></script>
        <script type="text/javascript" src="resources/javascripts/phones/phonesDirectives.js"></script>
        <script type="text/javascript" src="resources/javascripts/phones/phonesServices.js"></script>
        <script type="text/javascript" src="resources/javascripts/phones/phonesController.js"></script>
        
        
    </head>
    <body ng-app="phones" ng-controller="PhonesController">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="border-style: solid; border-width: 1px 1px 1px 1px;">
                    <small><h1 class="text-center">To jest internetowa książka telefoniczna {{phones.name}}</h1></small>
                </div>
            </div>
            <div class="row" ng-view></div>
            <div class="row">
                <div class="col-lg-12" style="border-style: solid; border-width: 0px 1px 1px 1px;">
                    <div class="col-lg-5">
                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Telefon</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td >
                                	<table>
                                	 <tr ng-repeat="phone in user.phones">
                                	 	<td>{{phone}}<td>
                                	 </tr>
                                	</table>	
                                </td>
                            </tr>
                        </tbody>
                        </table> 
                    </div>                          
                </div>
            </div>
          <div class="row">
            <div class="col-lg-2 checkbox">
              <label><input type="checkbox" ng-click="changeVisible()" value="Enable button" checked>Enable search</label>
            </div>
            <div class="col-lg-1">
              <input type="button" class="btn btn-primary" ng-disabled="disabled===true" value="search">
            </div>
          </div>
        </div>
    </body>
</html>